@use '../variables';

.Achievement {
	&s {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		margin-block-start: 2rem;
		margin-inline: auto;
		max-inline-size: variables.$max--inline-size;
	}

	@media screen and (max-width: 48rem) {
		&s {
			grid-template-columns: auto;
			grid-template-rows: repeat(3, 1fr);
		}
	}

	text-align: center;

	&__value,
	&__label {
		display: block;
		line-height: 1;
	}

	&__value {
		font-size: variables.$text--display;
	}

	&__label {
		font-size: variables.$text--xl;
		margin-block-start: 0.5rem;
	}
}

