@use '../variables';

@layer components {
	.Article {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-inline-size: 23rem;
		position: relative;
		text-align: left;

		&__title {
			font-size: variables.$text--md;
			text-wrap: pretty;
		}

		&__thumbnail {
			aspect-ratio: 1.33333;
			order: -1;

			img {
				block-size: 100%;
				inline-size: 100%;
				object-fit: cover;
			}
		}

		&__description {
			z-index: 10;
		}

		&__link {
			font-size: variables.$text--xs;
			margin-block-start: auto;

			&::before {
				content: '';
				display: block;
				position: absolute;
				inset: 0;
			}

			&::after {
				content: '→';
				display: inline;
			}
		}
	}
}
