@use '../variables';

@layer components {
	.TeamMembers {
		> * + * {
			margin-block-start: 2rem;
		}
	}

	.TeamMember {
		text-align: initial;

		&__image {
			aspect-ratio: 1;
			inline-size: 100%;
			object-fit: cover;
		}

		&__content {
			margin-block-start: 2rem;
		}

		&__name,
		&__role {
			display: inline;
			font-size: variables.$text--lg;
			font-weight: 700;
		}

		&__role {
			&::before {
				content: ' - ';
				display: inline;
			}
		}

		&__bio {
			margin-block-start: 2rem;

			p {
				font-size: variables.$text--sm;

				+ p {
					margin-block-start: 1rem;
				}
			}
		}

		@media screen and (min-width: 37.5rem) {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr 2fr;

			.TeamMember__content {
				margin-block-start: 0;
			}
		}

		@media screen and (min-width: 48rem) {
			gap: 2rem;

			.TeamMember__content {
				margin-block-start: 1rem;
				max-inline-size: 65ch;
			}
		}
	}
}
