# Notion API Configuration
NOTION_API_KEY=ntn_your_key_here
NOTION_SITE_UPDATES_DB_ID=your_database_id_here

# Google Drive Service Account (for fetching site update images)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"

PUBLIC_MAPBOX_TOKEN=

# Mailchimp API Configuration
MAILCHIMP_API_KEY=your-api-key-here
MAILCHIMP_SERVER_PREFIX=us2 # just the shortcode is needed, eg. "us2" for "us2.api.mailchimp.com"
MAILCHIMP_AUDIENCE_ID=your-audience-id # 10 digits
MAILCHIMP_GROUP_ID_GENERAL=your-general-group-id # 10 digits
MAILCHIMP_GROUP_ID_VOLUNTEER=your-volunteer-group-id # 10 digits
