.footer {
	background-color: var(--footer-background);
	color: var(--footer-text);
	padding: var(--space-xl);
	font-size: var(--font-s);

	h4 {
		font-size: var(--font-m);
		margin-block-end: var(--space-xs);
	}

	ul>*+* {
		margin-block-start: var(--space-3xs);
	}

	a {
		color: var(--footer-links);
		text-decoration: none;
	}

	a:hover {
		text-decoration: 2px underline;
	}

	.has-icon {
		display: inline-flex;
		gap: var(--space-3xs);

		svg {
			width: 18px;
		}
	}
}

.footer-grid {
	max-inline-size: var(--max-width);
	margin-inline: auto;
	margin-block-end: var(--space-xl);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--space-xl);
}

.copyrights {
	max-inline-size: var(--max-width);
	margin-inline: auto;
	display: flex;
	flex-flow: column;
	gap: var(--space-3xs);
	color: var(--gray);
	font-size: var(--font-xs);

	small {
		display: block;
	}
}