/* Forms, Inputs and Button */

textarea,
input:not(
	button,
	[type='button'],
	[type='sumbit'],
	[type='reset'],
	[type='checkbox'],
	[type='radio']
) {
	appearance: none;
	border: 2px solid var(--border-color);
	padding: var(--space-2xs);
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	outline: none;
	background: var(--input);

	&:focus {
		border-color: var(--border-focus);
	}
}

::placeholder {
	color: var(--placeholder);
}

select {
	background-color: var(--input);
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.5 409c9.4 9.4 24.6 9.4 33.9 0l200-200c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-183 183-183-183c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l200 200z"/></svg>');
	background-size: 24px;
	background-position: center right var(--space-s);
	background-repeat: no-repeat;
	appearance: none;
	border: 2px solid var(--border-color);
	padding: var(--space-2xs);
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	outline: none;
}

/* Buttons */

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	all: unset;
	cursor: pointer;
	color: currentcolor;
}

.button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	border-radius: var(--radius-l);
	padding: var(--space-xs) var(--space-l);
	border: 2px solid transparent;
	display: inline-flex;
	text-decoration: none;
	font-size: var(--font-s);
	background: var(--button-background);
	text-align: center;
	transition: all var(--transition);
	justify-content: center;
	color: var(--button-text);
	align-items: center;

	&:hover {
		background: var(--button-hover);
		transform: translateY(var(--space-3xs));
	}
}

.button:has(svg) {
	gap: var(--space-3xs);
}

.button-ghost {
	border-radius: var(--radius-l);
	padding: var(--space-xs) var(--space-l);
	border: 2px solid var(--button-border);
	display: inline-flex;
	text-decoration: none;
	font-size: var(--font-s);
	background: transparent;
	text-align: center;
	transition: all var(--trans-time) ease-in-out;
	justify-content: center;
	color: currentcolor !important;

	&:hover {
		transform: translateY(var(--space-3xs));
	}
}

.button-ghost:has(svg) {
	gap: var(--space-3xs);
}
