@import url('./root.css');
@import url('./utils.css');
@import url('./footer.css');
@import url('./pages.css');

::selection {
	background: var(--orange);
	color: var(--offwhite);
}

/* Typography Defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
}

h2:has(svg) {
	display: inline-flex;
	gap: var(--space-2xs);
	align-items: center;
}

.button {
	border-radius: var(--radius-l);
	padding: var(--space-xs) var(--space-l);
	border: 2px solid transparent;
	display: inline-flex;
	text-decoration: none;
	font-size: var(--font-s);
	background: var(--button-background);
	text-align: center;
	transition: all var(--trans-time) ease-in-out;
	justify-content: center;
	color: var(--button-text) !important;

	&:hover {
		background: var(--button-hover);
		transform: translateY(var(--space-3xs));
	}
}

.button:has(svg) {
	gap: var(--space-3xs);
}

.button-ghost {
	border-radius: var(--radius-l);
	padding: var(--space-xs) var(--space-l);
	border: 2px solid var(--button-border);
	display: inline-flex;
	text-decoration: none;
	font-size: var(--font-s);
	background: transparent;
	text-align: center;
	transition: all var(--trans-time) ease-in-out;
	justify-content: center;
	color: currentcolor !important;

	&:hover {
		transform: translateY(var(--space-3xs));
	}
}

.button-ghost:has(svg) {
	gap: var(--space-3xs);
}

/* Shapes */

.squircle {
	--r: 12.4%;
	/* between 0% [square] and 50% [squircle] (you can use pixel as well) */
	--_r: clamp(0%, var(--r) / 2, 21%);
	--_v: calc(var(--_r) * (1 - sqrt(2) / 4));
	--_p: calc(var(--_v) - var(--_r) / 2);
	clip-path: shape(from var(--_v) var(--_p),
			curve to 50% 0 with var(--_r) 0,
			curve to calc(100% - var(--_v)) var(--_p) with calc(100% - var(--_r)) 0,
			curve to calc(100% - var(--_p)) var(--_v) with calc(100% - 2 * var(--_p)) calc(2 * var(--_p)),
			curve to 100% 50% with 100% var(--_r),
			curve to calc(100% - var(--_p)) calc(100% - var(--_v)) with 100% calc(100% - var(--_r)),
			curve to calc(100% - var(--_v)) calc(100% - var(--_p)) with calc(100% - 2 * var(--_p)) calc(100% - 2 * var(--_p)),
			curve to 50% 100% with calc(100% - var(--_r)) 100%,
			curve to var(--_v) calc(100% - var(--_p)) with var(--_r) 100%,
			curve to var(--_p) calc(100% - var(--_v)) with calc(2 * var(--_p)) calc(100% - 2 * var(--_p)),
			curve to 0 50% with 0 calc(100% - var(--_r)),
			curve to var(--_p) var(--_v) with 0 var(--_r),
			curve to var(--_v) var(--_p) with calc(2 * var(--_p)) calc(2 * var(--_p)));
}

/* Breadcrumbs */

.breadcrumbs ol {
	--current: var(--grey-mid);
	display: flex;
	gap: var(--space-2xs);
	font-size: var(--font-xs);
	padding-block: var(--space-xs);
}

.breadcrumbs li {
	display: inline-flex;
	align-items: center;
	gap: var(--space-2xs);
}

.breadcrumbs a {
	color: var(--body-text);
	text-decoration: none;
}

.breadcrumbs a:hover {
	color: var(--link);
}

.breadcrumbs a[aria-current='page'] {
	color: var(--current);
}