@import url('./reset.css');
@import url('./root.css');
@import url('./utils.css');
@import url('./navigation.css');
@import url('./footer.css');
@import url('./pages.css');
@import url('./posts.css');
@import url('./forms.css');

@layer global, component;

body {
	margin: 0;
	background-color: var(--body-background);
	font-family: var(--font-system);
	color: var(--body-text);
}

::selection {
	background: var(--link);
	color: var(--offwhite);
}

/* Images */

:where(img, picture, video) {
	max-inline-size: 100%;
	block-size: auto;
}

/* Typography Defaults */

ul,
ol {
	list-style: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 0;
	font-weight: 900;
}

h2:has(svg) {
	display: inline-flex;
	gap: var(--space-2xs);
	align-items: center;
}

.prose {
	max-inline-size: var(--measure);
	font-size: var(--font-s);
	line-height: 1.6;
}

.prose a:not(.button) {
	color: var(--prose-link);
}

.prose a:hover:not(.button) {
	text-decoration: none;
}

.post .prose p:first-of-type:not(blockquote p) {
	font-size: var(--font-m);
}

.post .prose p > em {
	font-size: var(--font-s);
}

time {
	font-size: var(--font-xs);
}

/* Shapes */

.squircle {
	--r: 12.4%;
	/* between 0% [square] and 50% [squircle] (you can use pixel as well) */
	--_r: clamp(0%, var(--r) / 2, 21%);
	--_v: calc(var(--_r) * (1 - sqrt(2) / 4));
	--_p: calc(var(--_v) - var(--_r) / 2);
	clip-path: shape(
		from var(--_v) var(--_p),
		curve to 50% 0 with var(--_r) 0,
		curve to calc(100% - var(--_v)) var(--_p) with calc(100% - var(--_r)) 0,
		curve to calc(100% - var(--_p)) var(--_v) with calc(100% - 2 * var(--_p)) calc(2 * var(--_p)),
		curve to 100% 50% with 100% var(--_r),
		curve to calc(100% - var(--_p)) calc(100% - var(--_v)) with 100% calc(100% - var(--_r)),
		curve to calc(100% - var(--_v)) calc(100% - var(--_p)) with calc(100% - 2 * var(--_p))
			calc(100% - 2 * var(--_p)),
		curve to 50% 100% with calc(100% - var(--_r)) 100%,
		curve to var(--_v) calc(100% - var(--_p)) with var(--_r) 100%,
		curve to var(--_p) calc(100% - var(--_v)) with calc(2 * var(--_p)) calc(100% - 2 * var(--_p)),
		curve to 0 50% with 0 calc(100% - var(--_r)),
		curve to var(--_p) var(--_v) with 0 var(--_r),
		curve to var(--_v) var(--_p) with calc(2 * var(--_p)) calc(2 * var(--_p))
	);
}

/* Breadcrumbs */

.breadcrumbs ol {
	--current: var(--grey-mid);
	display: flex;
	gap: var(--space-2xs);
	font-size: var(--font-xs);
	padding-block-end: var(--space-xs);
	margin: 0;
}

.breadcrumbs li {
	display: inline-flex;
	align-items: center;
	gap: var(--space-2xs);
}

.breadcrumbs a {
	color: var(--body-text);
	text-decoration: none;
}

.breadcrumbs a:hover {
	color: var(--link);
}

.breadcrumbs a[aria-current='page'] {
	color: var(--current);
}

.section-card {
	background: var(--card);
	border-radius: var(--radius-l);
	border: 1px solid var(--border-color);
	text-align: center;
	transition: box-shadow var(--transition);
}

.section-card:hover {
	box-shadow: var(--shadow-lite);
}

.section-card:hover h2,
.section-card:hover h3 {
	color: var(--link-hover);
}

.section-card h2,
.section-card h3 {
	font-size: var(--font-l);
	margin-block: 0 var(--space-s);
	color: var(--link);
}

.section-card p {
	font-size: var(--font-s);
}

.section-card a {
	text-decoration: none;
	display: block;
	padding: var(--space-l) var(--space-s);
}
