@import url('./root.css');
@import url('./footer.css');
@import url('./take-action.css');

.button {
	border-radius: var(--radius-l);
	padding: var(--space-xs) var(--space-l);
	border: 2px solid var(--button-border);
	display: inline-flex;
	text-decoration: none;
	font-size: var(--font-s);
	background: var(--button-background);
	text-align: center;
	transition: all 0.1s ease-in-out;
	justify-content: center;

	&:hover {
		background: var(--button-hover);
		transform: translateY(var(--space-3xs));
	}
}