.page-sections {
	display: flex;
	flex-flow: column;
	gap: var(--space-xl);
	padding-block: var(--space-xl);
}

.tags {
	display: inline-flex;
	gap: var(--space-3xs);
	flex-wrap: wrap;
}

.tag {
	border-radius: 500px;
	padding-inline: var(--space-2xs);
	font-size: var(--font-2xs);
	background: var(--tag);
	color: var(--tag-text);
}

.tag:has(svg) {
	display: inline-flex;
	gap: var(--space-3xs);
}

.meta.tags {
	gap: var(--space-xs);
}

.meta>.tag {
	padding: var(--space-2xs) var(--space-s);
	font-size: var(--font-xs);
}

.prose {
	max-inline-size: var(--measure);
	font-size: var(--font-s);
}

.prose p:first-of-type {
	font-size: var(--font-m);
}

/* MapBox */

.map-canvas {
	background: var(--white);
	block-size: 400px;
	border-radius: var(--radius-m);
	box-shadow: var(--shadow-lite);
	inline-size: 100%;
}

.site-marker-info {
	padding: var(--space-3xs);
	background: var(--white);
	font-size: var(--font-2xs);
	display: flex;
	flex-flow: column;
	gap: var(--space-3xs);
}

.site-marker-info h3 {
	font-weight: 700;
	font-size: var(--font-2xs);
}

.site-marker-info a {
	color: var(--link);
}