@use '../variables';

@layer page {
	.ContentHero {
		--ContentHero--color-background: #111827;

		color: white;
		background-color: var(--ContentHero--color-background);
		position: relative;

		&[data-variant='tertiary'] {
			--ContentHero--color-background: #{variables.$color--tertiary};
		}

		&__content {
			margin-inline: auto;
			max-inline-size: 56rem;
			padding-block: 6rem;
			padding-inline: 1rem;
			position: relative;
			text-align: center;
			z-index: 10;

			@media screen and (min-width: #{variables.$inline--sm}) {
				padding-inline: 1.5rem;
			}

			@media screen and (min-width: #{variables.$inline--md}) {
				padding-inline: 2rem;
			}

			@media screen and (min-width: #{variables.$inline--lg}) {
				padding-inline: 4rem;
			}

			p {
				font-size: variables.$text--xl;
				line-height: 1.625;
				margin-inline: auto;
				max-inline-size: 48rem;

				& + p {
					margin-block-start: 1rem;
				}
			}
		}

		&__title {
			font-size: variables.$text--3xl;
			font-weight: bold;
			line-height: 1;
			margin-block-end: 1.5rem;
		}

		&__canvas {
			inset: 0;
			position: absolute;
		}

		&__image {
			block-size: 100%;
			inline-size: 100%;
			object-fit: cover;
			opacity: 0.6;
		}
	}
}
