@use '../variables';

.Footer {
	background-color: white;
	margin-inline: auto;
	max-width: variables.$max--inline-size;
	padding: 40px 20px 60px;

	&__logo {
		max-width: 10rem;
	}

	&__title {
		color: variables.$color--primary;
		font-size: variables.$text--lg;
	}

	&__contact {
		font-style: normal;
	}

	&__groups {
		@media screen and (min-width: 1024px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__group + &__group {
		margin-block-start: 2rem;

		@media screen and (min-width: 1024px) {
			margin-block-start: 0;
		}
	}

	&__links {
		margin-block-start: 1.5rem;

		&[data-inline],
		[data-inline] {
			display: flex;
			gap: 0.75rem;

			> :not(:last-child)::after {
				content: '|';
				display: inline-block;
				margin-inline-start: 0.5rem;
			}
		}
	}

	&__baseline {
		// border-block-start: 1px solid black;
		margin-block-start: 2rem;
		// padding-block-start: 2rem;

		small {
			display: block;

			+ small {
				margin-block-start: 0.5rem;
			}
		}
	}
}
