@use '../variables';

@layer page {
	.PageSection {
		--PageSection--color: black;
		--PageSection--color-background: white;

		background-color: var(--PageSection--color-background);
		color: var(--PageSection--color);
		padding: 40px 20px 60px;
		text-align: center;

		&__header {
			margin-inline: auto;
			max-width: variables.$max--inline-size;
			inline-size: 100%;

			&[data-layout='inline'] {
				display: flex;
				justify-content: space-between;
			}

			&[data-layout='full'] {
				max-width: unset;
			}
		}

		&__title {
			font-size: variables.$text--2xl;
		}

		&__content {
			margin-block-start: 3rem;
			margin-inline: auto;
			max-inline-size: variables.$max--inline-size;

			&.prose {
				max-inline-size: 65ch;
				text-align: initial;
			}
		}

		&[data-layout='stacked'] {
			position: relative;
			text-align: left;

			.PageSection {
				&__content {
					color: white;
					font-size: variables.$text--md;
					position: relative;
					z-index: 10;

					> * + * {
						margin-block-start: 1rem;
					}
				}

				&__background {
					inset: 0;
					position: absolute;
				}

				&__media {
					block-size: 100%;
					inline-size: 100%;
					object-fit: cover;
				}
			}
		}

		&[data-variant='primary'] {
			--PageSection--color: white;
			--PageSection--color-background: #{variables.$color--primary};

			a {
				// TODO !important
				color: white !important;
			}
		}

		&[data-variant='muted'] {
			--PageSection--color-background: #f3f4f6;
		}

		&[data-variant='call-to-action'] {
			--PageSection--color-background: #f9fafb;

			padding-bottom: 5rem;
			padding-top: 5rem;

			.PageSection__header {
				margin-block-end: 32px;
			}
		}

		&[data-layout^='sidebar'] {
			.PageSection {
				&__content {
					display: grid;
					grid-template-columns: repeat(1, minmax(0, 1fr));
					gap: 3rem;
					text-align: left;

					@media screen and (min-width: 64rem) {
						grid-template-columns: repeat(3, minmax(0, 1fr));
					}
				}
			}
		}

		&[data-layout='sidebar-right'] {
			.PageSection {
				&__content {
					div:first-of-type {
						grid-column: span 2 / span 2;
					}
				}
			}
		}
	}
}
